body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    
}

#app {
    height: 100%;
    overflow: hidden;
}

.landing-section {
    background-image: url("images/header-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.navbar {
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
    padding-top: 10px;
}

.navbar ul li {
    color: aliceblue;
    display: inline;
    align-items: center;
    font-size: 18px;
    padding-right: 36px;
    padding-top: 10px;
    font-family: Poppins;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    font-weight : 100px
    letter-spacing: -0.01em;
}

.navbar ul li.active{ 
    font-weight: 800;
}

.heading-content{
    color: #EEEEEE;
    text-align: center;
    margin: auto;
    margin-top: 95px;
}
 

.login-btn {
    color: #fff;
    background-color: #0432DF;
    font-family: Poppins;
    border-radius: 8px;
    border: 1px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
}

.head-subtext{
    font-family: Inter;
    font-size: 17px;
    font-weight: 200;
    line-height: 34px;
    letter-spacing: -0.05em;
    text-align: center;
}

.Headline-text {
    font-family: Poppins;
    color: #EEEEEE;
    font-size: 36px;
    font-weight: 700;
    line-height: 52.74px;
    letter-spacing: -0.02em;
}

.header-logo {
    text-align: center;
    padding: 20px 80px;
    height: 37px;
    width: 123px;
}

.search-box {
    margin-top: 40px;
    margin-left : 50px;
}
.search-input {
    padding: 16px 260px 15px 40px;
    border-radius: 8px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    margin-bottom: 10px;
}

.search-icon {
    position: relative;
    cursor: pointer;
    height: 100%;
    right: 440px;
    top: 5px;
}

div .search-box span{
    margin-left: 0%;
}

.col {
    flex: 1;
}

.logo-section{
    padding: 50px 0px 0px 0px;
}

.slogn-text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.branding-logos{    
    display: flex;
    margin: 35px 104px 60px 104px;
    justify-content: space-between;
}

.branding-logos .img {
    width: 50px;
    height: 62px;
}

.list-section {
    padding: 50px 100px 60px 100px;
}

.list-section > div:first-child {
    font-size: 28px;
    font-weight : 600;
}

.filter-menu {
    display: flex;
    justify-content: space-between;
}

.filter-menu > ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.filter-menu > ul > li {
    margin-right: 28px;
    font-size: 16px;
    font-weight: 500;
}

.filter-menu > ul > li.active {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset:  10px;
}
.filter-btn > img {
    width: 36px;
    height: 36px;
    padding: 2px 14px 2px 16px;
}
.filter-btn {
    display: flex;
    align-items: center;
    color: #4C526A;
    font-size: 20px;
    font-weight: 500;
    background-color: #F1F1F1;
    padding: 9px 10px 9px 20px;
}
.filter-btn > span {
    margin-right: 10px;
}

.table-box {
    /* margin: 10px 0px 5px 60px; */
}

.table-box table tbody tr {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.table-box > table  {
    width: 100%;
}

.table-box tbody tr td { 
    display: flex;
    align-items: center;
    position: relative;
}

td span {
    display: block;
}

.show-time {
    margin-top: 5px; /* Adjust as needed */
}
td .image,
td img:where(.sub-image) {
    position: absolute;
    margin: 5px 0px 13px 30px;
    top: 0;
    left: 0;
}

td img:not(.image) {
    z-index: 1;
    padding: 10px 0px 0px 11px;
}

.link-text {
    color: #0432DF;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px 0 0 5px;
}

.category-section {
    margin: 60px 100px 60px 100px;
}

.category-section > div:first-child{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.02em;
}

.category-section >.image-section {
    display: flex;
    justify-content: space-between;
    margin: 16px 20px;
   
}
.category-section >.image-section .image{
    border-radius: 8px;
} 
.image-container {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
}

.why-us-section {
    margin: 60px 100px 100px 100px;
    display: flex;
    padding: 40px;
}

.why-us-section > .content {
    display: block;
    margin: 50px;
}

.why-us-section > .content span{
    color: #F59E00;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
}

.why-us-section > .content p{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.02em;
    text-align: left;
    
}

.why-us-section > .content img{
    margin-bottom: 20px;
}

.why-us-section > .content .heading-text{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 30.96px;
    letter-spacing: -0.05em;
    text-align: left;
}

.why-us-section > .content .sub-text{
    margin-bottom: 60px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.08px;
    text-align: left;
}

.why-us-section > .content > .row {
    display : flex;
}

.plan-section {
    padding: 65px 267px;
    background-color: #0432DF;
}

.plan-section span:first-child {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 52.74px;
    letter-spacing: -0.02em;
}
.plan-section .row {
    display: flex;
    justify-content: center;
}

.plan-card {
    display: inline;
    justify-content: space-between;
    margin: 40px;
    padding: 26px 34px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
}

.plan-section div.plan-heading {
    text-align: center;
}

.plan-card > .plan-text {
    width: 256px;
    height: 93px;
    margin-top: 13px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 30.96px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #EEEEEE;
}

.plan-card + .premium {
    background-color: #1B4BFF;
}

.plan-card > .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.05em;
    text-align: left;
    margin-top: 25px;
    color: #EEEEEE;
}

.plan-card button {
    margin: 17px 0 40px 0;
    padding: 14px 24px;
    color: #EEEEEE;
    border-radius: 8px;
    border: 2px  solid #EEEEEE;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
}

.plan-card button.premium {
    background-color: #FFFFFF ;
    color : #0432DF;
}