/** Variables */
@font-face {
  font-family: "Poppins-semibold";
  src: url("font/Poppins/Poppins-SemiBold.ttf");
}
* {
  box-sizing: border-box;
}

.border {
  width: 40%;
  border: dashed 1px #000000;
  padding: 10px;
}

.btn-one {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #0432df;
  width: Hug 169px px;
  height: Hug 52px px;
  padding: 14px 24px;
}

.btn-two {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #0029C2;
  width: Hug 169px px;
  height: Hug 52px px;
  padding: 14px 24px;
}

.btn-three {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #0029C2;
  width: Hug 146px px;
  height: Hug 44px px;
  padding: 10px 20px;
  left: 448px;
}

.btn-four {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #0029C2;
  width: Hug 146px px;
  height: Hug 44px px;
  top: 28px;
  left: 639px;
  padding: 10px 20px;
}

.btn-five {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #ffffff;
  color: #0432df;
  width: Hug 169px px;
  height: Hug 52px px;
  top: 107px;
  left: 20px;
  padding: 14px 24px;
  border: solid 2px #0432df;
}

.btn-six {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #CDD6F9;
  color: #0432df;
  border: solid 2px #0432df;
  top: 107px;
  left: 234px;
  padding: 14px 24px;
}

.btn-seven {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #ffffff;
  color: #0432df;
  border: solid 2px #0432df;
  top: 115px;
  left: 148px;
  padding: 10px 20px;
}

.btn-eight {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #CDD6F9;
  color: #0432df;
  border: solid 2px #0432df;
  top: 115px;
  left: 639px;
  padding: 10px 20px;
}

.btn-nine {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #ffffff;
  color: #0432df;
  width: Hug 169px px;
  height: Hug 52px px;
  top: 194px;
  left: 20px;
  padding: 14px 24px;
  font-size: 16px;
}

.btn-ten {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #ffffff;
  color: #0432df;
  width: Hug 169px px;
  height: Hug 52px px;
  text-decoration: underline;
  top: 194px;
  left: 20px;
  padding: 14px 24px;
}

.btn-eleven {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #ffffff;
  color: #0029C2;
  width: Hug 146px px;
  height: Hug 44px px;
  top: 202px;
  left: 448px;
  padding: 10px 20px;
}

.btn-twelve {
  color: #ffffff;
  top: 20px;
  gap: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 1px;
  text-align: center;
  background-color: #ffffff;
  color: #0029C2;
  text-decoration: underline;
  width: Hug 146px px;
  height: Hug 44px px;
  top: 202px;
  left: 639px;
  padding: 10px 20px;
}/*# sourceMappingURL=style.css.map */