<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Webmine Music App -  Base components of webmine music website">
    <meta name="rating" content="adult">
    <link rel="icon" type="image/x-icon" href="/images/icons/music.png">
    <title>Base components - Webmine Musics</title>
    <link rel="stylesheet" href="../scss/style.css">
</head>
<body>
        <h2>Base Components</h2>
        <div class="components-box">
            <button class="btn-one">Primary one</button>
            <button class="btn-two">Primary two</button>
            <button class="btn-three">Primary three</button>
            <button class="btn-four">Primary four</button>
            <br><br>
            <button class="btn-five ">Primary five</button>
            <button class="btn-six lable-one">Primary six</button>
            <button class="btn-seven">Primary seven</button>
            <button class="btn-eight">Primary eight</button>
            <br><br>
            <button class="btn-nine">Primary nine</button>
            <button class="btn-ten">Primary ten</button>
            <button class="btn-eleven">Primary eleven</button>
            <button class="btn-twelve">Primary twelve</button>
        </div>

        <div class="components-box">
            <div class="color-one"></div>
            <div class="color-two"></div>
            <div class="color-three"></div>
            <div class="color-four"></div>
            <div class="color-five"></div>
            <div class="color-six"></div>
            <div class="color-seven"></div>
            <div class="color-eight"></div>
            <div class="color-nine"></div>
        </div>
        <div class="components-box">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
            <span class="caption-medium-one">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae ullamcorper ipsum, et tincidunt sem. Pellentesque non scelerisque enim, at sodales mauris. Proin id purus orci. Donec lobortis ante a est ultrices tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </span>
            <span class="caption-three">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>
        <button class="btn-four" onclick="document.location='../index.html'">Back</button>
</body>
</html>
