<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Base Components</title>
</head>
<body>
        <h2>Base Components</h2>
        <div class="border">
            <button class="btn-one">Primary one</button>
            <button class="btn-two">Primary two</button>
            <button class="btn-three">Primary three</button>
            <button class="btn-four">Primary four</button>
            <br><br>
            <button class="btn-five">Primary five</button>
            <button class="btn-six">Primary six</button>
            <button class="btn-seven">Primary seven</button>
            <button class="btn-eight">Primary eight</button>
            <br><br>
            <button class="btn-nine">Primary nine</button>
            <button class="btn-ten">Primary ten</button>
            <button class="btn-eleven">Primary eleven</button>
            <button class="btn-twelve">Primary twelve</button>
        </div>
        <button class="btn-four" onclick="document.location='../index.html'">Back</button>
</body>
</html>
