<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Webmine Music App - Typography of webmine music website">
    <meta name="rating" content="adult">
    <title>Typography - Webmine Musics</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="typography-box">
      <div class="col-6">
        <button class="btn-seven">Heading</button>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>

        <br><br>
        <div>
            <button class="btn-seven">Subtitle</button>
            <div class="subtitle-medium-one">Subtitle Medium 1</div>
            <div class="subtitle-reguler-one">Subtitle Reguler 1</div>
            <div class="subtitle-medium-two">Subtitle Medium 2</div>
            <div class="subtitle-reguler-two">Subtitle Reguler 2</div>
            <div class="subtitle-medium-three">Subtitle Medium 3</div>
            <div class="subtitle-reguler-three">Subtitle Reguler 3</div>
        </div>
      </div>
      <div class="col-6">
        <button class="btn-seven">Caption</button>
        <div class="caption-medium-one">Caption 1</div>
        <div class="caption-reguler-one">Caption 2</div>
        <div class="caption-medium-two">Caption 3</div>
        <div class="caption-reguler-two">Caption 4</div>
        <div class="caption-medium-three">Caption 5</div>
        <div class="caption-reguler-three">Caption 6</div>

        <br><br>
        <button class="btn-seven">Label</button>
        <div class="lable-one">Label 1 - semibold</div>
        <div class="lable-two">Label 2 - semibold</div>
        <div class="lable-three">Label 3 - semibold</div>

        <br><br>
        <button class="btn-seven">capitalised</button>
         <div class="capitalised">capitalised</div>
      </div>
    </div>
  </body>
</html>
