@use '../abstracts/variables' as *;

@mixin btn-primary {
    color: #ffffff;
    border-radius: 8px;
    border: 1px;
    opacity: 0px;
    font-family: Poppins;
    letter-spacing: -0.01em;
    border: 1px;
    text-align: center;
    cursor: pointer;
}

.btn-one {
    @include btn-primary;
    background-color: $deepBlueColor; 
    width: Hug (169px)px;
    height: Hug (52px)px;
    padding: 14px 24px;
}
.btn-two {
    @include btn-primary;
    background-color: $darkBlueColor;
    width: Hug (169px)px;
    height: Hug (52px)px;
    padding: 14px 24px;
}
.btn-three {
    @include btn-primary;
    background-color: $deepBlueColor;
    padding: 10px 20px;
    left: 448px;
    
}
.btn-four {
    @include btn-primary;
    background-color: $darkBlueColor;
    padding: 10px 20px;
}
.btn-five {
    @include btn-primary;
    background-color: $pureWhiteColor;
    color: $deepBlueColor;
    width: Hug (169px)px;
    height: Hug (52px)px;
    top: 107px;
    left: 20px;
    padding: 14px 24px;
    border: solid 2px $deepBlueColor;
}
.btn-six {
    @include btn-primary;
    background-color: $lightblueColor;
    color: $deepBlueColor;
    border: solid 2px $deepBlueColor;
    top: 107px;
    left: 234px;
    padding: 14px 24px;
}
.btn-seven {
    @include btn-primary;
    background-color: $pureWhiteColor;
    color: $deepBlueColor;
    border: solid 2px $deepBlueColor;
    top: 115px;
    left: 148px;
    padding: 10px 20px;
}
.btn-eight {
    @include btn-primary;
    background-color: $lightblueColor;
    color: $deepBlueColor;
    border: solid 2px $deepBlueColor;
    top: 115px;
    left: 639px;
    padding: 10px 20px;
}
.btn-nine {
    @include btn-primary;
    background-color: $pureWhiteColor;
    color: $deepBlueColor;
    width: Hug (169px)px;
    height: Hug (52px)px;
    top: 194px;
    left: 20px;
    padding: 14px 24px;
}
.btn-ten {
    @include btn-primary;
    background-color: $pureWhiteColor;
    color: $deepBlueColor;
    width: Hug (169px)px;
    height: Hug (52px)px;
    text-decoration: underline;
    top: 194px;
    left: 20px;
    padding: 14px 24px;
}
.btn-eleven {
    @include btn-primary;
    background-color: $pureWhiteColor;
    color: $darkBlueColor;
    width: Hug (146px)px;
    height: Hug (44px)px;
    top: 202px;
    left: 448px;
    padding: 10px 20px;
}
.btn-twelve {
    @include btn-primary;
    background-color: $pureWhiteColor;
    color: $darkBlueColor;
    text-decoration: underline;
    width: Hug (146px)px;
    height: Hug (44px)px;
    top: 202px;
    left: 639px;
    padding: 10px 20px;
}

