.typography-box {
    width: auto;
    margin: 5px;
    border: dashed 1px #000000;
    padding: 25px;
    margin: 50px;
    display: flex;
    justify-content: flex-start;
}
/* Headings */
@mixin heading-text {
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: -0.01em;
    text-align: left;
}
h1 {
    @include heading-text;
    font-size: 72px;
}
h2 {
    @include heading-text;
    font-size: 48px; 
 }
 h3 {
    @include heading-text;
    font-size: 36px; 
 }
 h4 {
    @include heading-text;
    font-size: 28px; 
 }
 h5 {
    @include heading-text;
    font-size: 24px; 
 }
 h6 {
    @include heading-text;
    font-size: 20px; 
 }

 /* Captions */
 @mixin caption-text {
    font-family: Poppins;
    text-align: left;
    gap: 0px;
    opacity: 0px;
}
.caption-medium-one {
    @include caption-text;
    width: 153px;
    height: 34px;
    top: 297px;
    font-size: 18px;
    font-weight: 500;
    line-height: 34.02px;
}
.caption-reguler-one {
    width: 148px;
    height: 34px;
    top: 347px;
    font-size: 18px;
    font-weight: 400;
    line-height: 34.02px;
    letter-spacing: -0.05em;
}
.caption-medium-two {
    @include caption-text;
    width: 153px;
    height: 29px;
    top: 397px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
}
.caption-reguler-two {
    @include caption-text;
    width: 135px;
    height: 29px;
    top: 442px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: -0.05em;
}
.caption-medium-three {
    @include caption-text;
    width: 134px;
    height: 24px;
    top: 487px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24.08px;
}
.caption-reguler-three {
    @include caption-text;
    width: 118px;
    height: 24px;
    top: 531px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.08px;
    letter-spacing: -0.05em;
}

/* Lables */
@mixin label {
    font-family: Poppins;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
}
.lable-one {
    @include label;
    font-size: 16px;
}
.lable-two {
    @include label;
    font-size: 14px;
}
.lable-three {
    @include label;
    font-size: 12px;
}

/* capitalised */
.capitalised {
    width: 103px;
    height: 16px;
    top: 1038px;
    left: 663px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
}

 /* Subtitles */
 @mixin subtitle-text {
    text-align: left;
    left: 79px;
    font-family: Inter;
    gap: 0px;
    opacity: 0px;
    letter-spacing: -0.05em;
}
.subtitle-medium-one {
    @include subtitle-text;
    width: 170px;
    height: 34px;
    top: 950px;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
}
.subtitle-reguler-one {
    @include subtitle-text;
    width: 164px;
    height: 34px;
    top: 1008px;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
}
.subtitle-medium-two {
    @include subtitle-text;
    width: 156px;
    height: 31px;
    top: 1066px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30.96px;
}
.subtitle-reguler-two {
    @include subtitle-text;
    width: 151px;
    height: 31px;
    top: 1120px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30.96px;
}
.subtitle-medium-three {
    @include subtitle-text;
    width: 153px;
    height: 22px;
    top: 1174px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.08px;

}
.subtitle-reguler-three {
    @include subtitle-text;
    width: 134px;
    height: 22px;
    top: 1223px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.08px;
}