@use '../abstracts/variables' as *;

* {
    box-sizing: border-box;
}
.row {
    display: flex;
}
.d-none {
    display: none;
}
.text-blue {
    color: $deepBlueColor;
}
.col-12 {
    width: 100%;
}
.col-6 {
    width: 50%;
}
.col-3 {
    width: 25%;
}
.components-box {
    width: auto;
    margin: 5px;
    border: dashed 1px #000000;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    }
    