$pureWhiteColor: #ffffff;
$pureBlackColor: #000000;
$darkBlueColor: #0029C2;
$deepBlueColor: #0432df;
$darkpurpleColor: #0432DF;
$lightblueColor: #CDD6F9;
$orangeColor: #F59E00;
$braveYellowColor: #FCE2B3;
$titleDarkColor: #020D37;
$descriptivedarkColor: #4C526A;
$grayColor: #4F5261;

@font-face {
    font-family: 'Poppins'; 
    src: url('../../font/Poppins/Poppins-Light.ttf'); 
}
@font-face {
    font-family: 'Inter'; 
    src: url('../../font/inter/Inter-VariableFont_slnt\,wght.ttf'); 
}